/Intermediate
/Saved
/Plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/*.dll
/Plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/*.pdb
/Plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/*.modules
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.res
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.h
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.old
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.json
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.cpp
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.obj
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.response
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.txt
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.exp
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSessions/*.lib
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Inc/AdvancedSessions/*.cpp
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Inc/AdvancedSessions/*.h
/Plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/*.dll
/Plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/*.pdb
/Plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/*.modules
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.res
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.h
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.json
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.cpp
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.obj
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.response
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.txt
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.exp
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Development/AdvancedSteamSessions/*.lib
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Inc/AdvancedSteamSessions/*.cpp
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Inc/AdvancedSteamSessions/*.h
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Binaries/Win64/*.dll
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Binaries/Win64/*.pdb
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionEditor/*.old
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionEditor/*.response
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionEditor/*.exp
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionEditor/*.lib
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionPlugin/*.old
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionPlugin/*.response
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionPlugin/*.exp
/Plugins/VRExpansionPlugin/OpenXRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/OpenXRExpansionPlugin/*.lib
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Binaries/Win64/*.dll
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Binaries/Win64/*.pdb
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionEditor/*.old
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionEditor/*.response
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionEditor/*.exp
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionEditor/*.lib
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionPlugin/*.old
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionPlugin/*.cpp
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionPlugin/*.obj
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionPlugin/*.response
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionPlugin/*.txt
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionPlugin/*.exp
/Plugins/VRExpansionPlugin/VRExpansionPlugin/Intermediate/Build/Win64/UE4Editor/Development/VRExpansionPlugin/*.lib
/Plugins/AdvancedSessions/AdvancedSessions/Intermediate/Build/Win64/UE4Editor/Inc/AdvancedSessions/Timestamp
/Plugins/AdvancedSessions/AdvancedSteamSessions/Intermediate/Build/Win64/UE4Editor/Inc/AdvancedSteamSessions/Timestamp
/Content/Materials
/Content/Meshes
/Content/Textures
/Content/Fx
/Content/Blueprints
/Build
/Binaries
